
    <mat-form-field class="stock-search-bar">
      <mat-label>Search for stock</mat-label>
      <input matInput placeholder="Ex. Apple" autocomplete="off" [(ngModel)]='searchValue' (keyup)='onKeydownEvent()' (blur)="hideOutput()">
    </mat-form-field>
    <mat-list class='stock-list-holder'>
      <mat-list-item *ngFor='let val of output | limitTo:6' class='stock-list-item' (click)='goToStock(val.item)'>
        <p matLine><b>{{val.item.Symbol}}</b> - {{val.item.Name}}</p>
      </mat-list-item>
    </mat-list>
